* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #212529;
    --light: #F8F9FA;
    --yellow: #FFCA2B;
    --blue: #0C6EFD;
    --red: #BB2E3B;
    --grey: #444445;
    --morpion-red: #ee6677;
    --morpion-green: #18BC9C;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

/* header */

header {
    padding: 2rem 1rem;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 2rem;
    display: flex;
}

.logo a, .logo a img {
    width: 150px;
}

#user, #password, header input[type=submit] {
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--grey);
    padding: .5rem 1rem;
    border-radius: .25em;
}

header input[type=submit] {
    cursor: pointer;
    margin-left: 1rem; 
    transition: all 300ms ease-in-out;
}

header input[type=submit]:hover {
    background-color: var(--morpion-red);
    border-color: var(--morpion-red);
}

/* main */

.container {
    max-width: 1200px;
    margin: 0 auto; /* centrage horizontal d'un display block */
    width: 1200px;
}

.mode {
    font-size: 20px;
    border: 1px solid var(--grey);    
    margin: 2rem auto;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 2rem;
}

.mode input, .mode select {
    background-color: var(--dark);
    border: 1px solid var(--grey);
    color: var(--light);
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.mode input {

}